  <div class="jumbotron">
  <div class="container">
    <h3>Potepan Shareでまだ体験したことのない旅をしよう</h3>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="エリア" aria-label="Search">
      <button class="btn btn-primary" type="submit">探す</button>
    </form>
  </div>
  </div>

  <div class="container border border-0">
    <h3>おすすめのエリア</h3>
      <div class="image_container">
        <div class="Tokyo">
          <%= image_tag 'img_tokyo.jpg', size: '250x350' %>
            <p>東京</p>
        </div>
        <div class="Sapporo">
          <%= image_tag 'img_sapporo.jpg', size: '250x350' %>
            <p>札幌</p>
        </div>
        <div class="Osaka">
          <%= image_tag 'img_osaka.jpg', size: '250x350' %>
            <p>大阪</p>
        </div>
        <div class="Kyoto">
          <%= image_tag 'img_kyoto.jpg', size: '250x350' %>
            <p>京都</p>
        </div>
      </div>
  </div>
  </div>

</div>
